grant {
	permission java.net.SocketPermission "ischia:1099", "connect,resolve";
	permission java.net.SocketPermission "ischia:2002", "connect, resolve, accept";
	permission java.net.SocketPermission "ischia:2003", "connect, resolve, accept";
	permission java.net.SocketPermission "isppp1:1099", "connect,resolve";
	permission java.net.SocketPermission "isppp1:2002", "connect, resolve, accept";
	permission java.net.SocketPermission "isppp1:2003", "connect, resolve, accept";
	permission java.net.SocketPermission "papaya:1099", "connect,resolve";
	permission java.net.SocketPermission "papaya:2002", "connect, resolve, accept";
	permission java.net.SocketPermission "papaya:2003", "connect, resolve, accept";
	permission java.net.SocketPermission "islasker:1099", "connect,resolve";
	permission java.net.SocketPermission "islasker:2002", "connect, resolve, accept";
	permission java.net.SocketPermission "islasker:2003", "connect, resolve, accept";
	permission java.net.SocketPermission "mango:1099", "connect,resolve";
	permission java.net.SocketPermission "mango:2002", "connect, resolve, accept";
	permission java.net.SocketPermission "mango:2003", "connect, resolve, accept";
	permission java.net.SocketPermission "isny:1099", "connect,resolve";
	permission java.net.SocketPermission "isny:2002", "connect, resolve, accept";
	permission java.net.SocketPermission "isny:2003", "connect, resolve, accept";	
	permission java.security.AllPermission;
};
